.upper-footer {
    background: $footer-dark;
    @media (max-width:360px) {
        display:none;
    }
    

    &__third {
        padding:40px 0;
        
    }

    .wrapper {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;
        position: relative;
        @media (max-width:1165px) {
            flex-flow:column wrap;
            align-items: center;
            margin:0 auto;
            padding:20px 0;
            width:360px;
            align-items: flex-start;
        }
    }
}

.upper-footer__third {
    display:flex;
    flex-flow: row wrap;
    color: #ababab;
    
    @media (max-width:1230px) {
        @include fontSize(13);
    }
    @media (max-width: 1165px) {
        padding:10px 0;
    }
    &__image-container {
        background:#2f2f2f;
        width:50px;
        height:50px;
        border-radius:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right:20px;
    }
    &2 {
        justify-content: center;
    }
    
    &3 {
        justify-content:flex-end;
        @media (max-width:1165px) {
            justify-content: center;
            align-items: flex-start;
        }
    }
}

.style-line {
    display: inline-block;;
    background-color: rgba(88, 88, 88, 0.58);
    width:1px;
    height:68px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    &--left {
        left:38%;
        @media (max-width:1600px) {
            display:none;

        }
        
    }
    &--right {
        right:38%;
        @media (max-width:1600px) {
            display:none;

        }
        
    }

}


.lower-footer {
    
    padding:50px 0;
    background:$footer-black;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
    @media (max-width:840px) {
        padding:30px 0;
    }
    &__nav {
        width:70%;
        margin:0 auto;
        padding:20px 0 10px 0;
        border-bottom:1px solid $footer-dark;
        &__list {
            list-style:none;
            display:flex; 
            justify-content:space-between;
            @media (max-width:840px) {
                flex-flow:column wrap;
                margin-right:35px;
            }
            &__item {
                text-transform: uppercase;
                a {
                    color:#ababab;
                    @include fontSize(14);
                    transition:$transition;
                    @media (min-width: 841px) and(max-width:960px) {
                        @include fontSize(12);
                    }
                    &:hover {
                        color:$white;
                    }
                }
            }
        }
    }
}


.lower-footer__copyright {
    padding-top:30px;
    color:$white;
    @include fontSize(15);
    font-weight: 400;
    @media (max-width:500px) {
        @include fontSize(12);
    }
    span a.name {
        color:$pink;
        transition:$transition;
        &:hover {
            color:$purple;
        }
    }
}

.box {
    background: $footer-black;
    position:relative;
    margin:0 auto;
    @media (max-width:360px) {
        display:none;
    }
    &1 {
    border:2px solid #ababab;
    outline:10px solid $footer-black;
    transform:rotate(45deg);
    bottom:285px;
    z-index:10;
    height:15px;
    width:15px;
    @media (max-width:840px) {
        bottom:387px;
    }
    }
    &2 {
        background:$footer-black;
        width:25px;
        height:25px;
        bottom:294px;
        z-index:100;
        @media(max-width:840px) {
            bottom:394px;
        }
    }
    
    
}