.upper-footer {
    background: $footer-dark;
    

    &__third {
        padding:40px 0;
        
    }

    .wrapper {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;
        position: relative;
    }
}

.upper-footer__third {
    display:flex;
    flex-flow: row wrap;
    color: #ababab;
    &__image-container {
        background:#2f2f2f;
        width:50px;
        height:50px;
        border-radius:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-right:20px;
    }
    &2 {
        justify-content: center;
    }
    
    &3 {
        justify-content:flex-end;
    }
}

.style-line {
    display: inline-block;;
    background-color: rgba(88, 88, 88, 0.58);
    width:1px;
    height:68px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    &--left {
        left:33.33333%;
    }
    &--right {
        right:33.33333%;
    }

}


.lower-footer {
    
    padding:50px 0;
    background:$footer-black;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
    &__nav {
        width:70%;
        margin:0 auto;
        padding:20px 0 10px 0;
        border-bottom:1px solid $footer-dark;
        &__list {
            list-style:none;
            display:flex; 
            justify-content:space-between;
            &__item {
                text-transform: uppercase;
                a {
                    color:#ababab;
                    @include fontSize(14);
                    transition:$transition;
                    &:hover {
                        color:$white;
                    }
                }
            }
        }
    }
}


.lower-footer__copyright {
    padding-top:30px;
    color:$white;
    @include fontSize(15);
    font-weight: 400;
    span a.name {
        color:$pink;
        transition:$transition;
        &:hover {
            color:$purple;
        }
    }
}

.box {
    background: $footer-black;
    position:relative;
    margin:0 auto;
    &1 {
    border:2px solid #ababab;
    outline:10px solid $footer-black;
    transform:rotate(45deg);
    bottom:285px;
    z-index:10;
    height:15px;
    width:15px;
    }
    &2 {
        background:$footer-black;
        width:25px;
        height:25px;
        bottom:294px;
        z-index:100;

    }
    
    
}