header {
    background-image: url(../images/main-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:$white;

}

.wrapper {
    display:flex;
    flex-direction:column;
}

.front-page {
    height:75vh;
    flex-direction:column;
    display:flex;
    position:relative;
}

header .scroll {
    color:$white;
    background-color: rgba(255, 255, 255, 0.28);
    display: inline-block;
    padding:18px 8px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    transition:$transition;
    &--right {
        right:-21.3%;
    }
    &--left {
        left:-21.3%;
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

.header-top{
    display:flex;
    border-bottom:$dark 4px double;
    margin-bottom:1px;
    padding:15px 0;
    &__img-container {
        display:inline-block;
        flex-grow:1;
    }
    &__nav {
        flex-grow:3;
        margin:auto;
        padding-top:25px;
        text-transform: uppercase;
        &__list {
            list-style-type:none;
            margin:0;
            padding:0;
            display:flex;
            flex-flow: row wrap;
            justify-content:space-between;
            align-items:center;
            a {
                color:$white;
                position:relative;
                font-weight: 600;
                &:not(.header-top__nav__list__list-item9__link):before {
                    @include underlineA ();
                }
                &:hover:before {
                    @include underlineHover ();
                }
            }

            &__list-item9 {
                background:none;
                border:2px $pink solid;
                height:44px;
                width:43px;
                border-radius:50%;
                display:flex;
                align-items: center;
                justify-content:center;
                transition:$transition;
                &:active {
                    @include active();
                }
                i {
                    height:14px;
                    width:14px;
                    margin-right:3px;
                }
            }
        }
    }    
}

.header-main {
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    &__container {
        text-align: center;
        width:70%;
        margin:0 auto;
        i {
            font-size:31px;
            margin-bottom:30px;
        }
        &__date {
            font-size:22px;
            font-style:italic;
            margin-bottom:20px;
        }
        h1 {
            font-size:44px;
            margin-bottom:50px;
        }
        &__buy {
            text-transform: uppercase;
            border:$pink solid 2px;
            font-weight:700;
            font-size:15px;
            color:$white;
            background:none;
            padding:14px 50px;
            border-radius:5px;
            transition: $transition;
            &:active {
                @include active();
            }
        }    
    }
}

.lower-header {
    background:$header-light;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.03);
    color:$black;
    height:25vh;
    .wrapper {
        display:flex;
        flex-direction:row;
        height:100%;
    }
    &__third {
        display:flex;
        justify-content:center;
        align-items:center;
        &1 {
            width:30%;
        }
        &2 {
            display: flex;
            width:34%;
        }
        &__text-container {
            &__date {
                color: #777777;
                @include fontSize(14);
                font-weight: 500;
            }
            &__heading-4 {
                color: $black;
                @include fontSize(26);
                font-weight: 700;
                text-transform: uppercase;
                line-height: 40px;
                font-family: $raleway;
            }
        }
        &__quarter {
            display:flex;
            flex-direction:column;
            padding-top:30px;
            &__word-container{
                color:grey;
                @include fontSize(15);
                font-weight: 400;
                margin-top:10px;
            }
            &__num-container {
                &:not(.lower-header__third__quarter__num-container4):after {
                    content:":";
                    color:$dark;
                    font-weight:300;
                    @include fontSize(22);
                    line-height:0;
                    margin:0 4px 0 0;
                }
                &__num {
                    border-radius:5px;
                    text-align:center;
                    background:$dark;
                    width:37px;
                    height:45px;
                    // border:red solid 2px;
                    display: inline-block;
                    color:$white;
                    @include fontSize(20);
                    line-height: 45px;
                }
            }
        }
        &3 {
            width:35%;
            display:flex;
        }
        &__button__link {
            font-family:$raleway;
            color:$white;
            @include fontSize(15);
            line-height: 52px;
            border-radius:5px;
            font-weight: 700;
            text-transform: uppercase;
            width:178px;
            display: inline-block;
            text-align:center;
            height:52px;
            transition:$transition;
            &:active {
                    background: $dark;
                    }
            
            &1 {
                background:$purple;
                margin-right:5px;
            }
            &2 {
                background:$pink;
                margin-left:5px;
            }
        }
    

    }

}

