.newsletter {
    padding:80px 0;
    background-image: url(../images/pattern2.png);
    background-size:cover;
    .heading-4 {
        color:$black;
        font-weight: 700;
        @include fontSize(28);
        font-family: $raleway;
        text-align:center;
    }
    form {
        margin:40px auto 0 auto;
        .get-email {
            border-radius:5px 0 0 5px;
            border:solid 1px $white;
            @include fontSize(14);
            padding:10px 0 10px 15px;
            line-height:25px;
            width:500px;
            border-right:none;
        }
        .submit-subscribe {
            background: $pink;
            border-radius:0 5px 5px 0;
            align-self: 15px;
            font-weight: 700;
            padding:10.3px 15px 10.75px 15px;
            text-align:center;
            border:1px solid $pink;
            color:$white;
            text-transform: uppercase;
            font-family: $raleway;
            line-height:24px;
            width:140px;
            transition:$transition;
            &:active {
                background:none;;
                border:$purple solid 1px;
                color:$purple;
            }
        }
    }
}