.news {
    padding: 120px 0;
    &__text-container {
        &::after {
            @include line($pink);
        }
    }
    &__articles {
        display:flex;
        flex-flow:row wrap;
        &__third {
            width:calc(33.333333% - (60px / 2));
            &2 {
                margin:0 30px;
            }
            &__top {
                z-index:10;
            }
            &__bottom {
                z-index:100;
                background:#fafafa;
                padding:20px;

                &1 {
                    position:relative;
                    top:0;
                }
                &__title {
                    font-family: $raleway;
                    @include fontSize(22);
                    font-weight: 600;
                }
                &__author {
                    color:#ababab;
                    @include fontSize(13);
                    &::after {
                        content:"";
                        height:1px;
                        width:63px;
                        display:block;
                        background: #e0e0e0;
                        margin:10px 0 20px 0;
                    }
                }
                &__description {
                    color:grey;
                    @include fontSize(14);
                    font-weight: 400;
                }
                &__button {
                    font-family:$raleway;
                    color:$white;
                    @include fontSize(15);
                    line-height: 36px;
                    border-radius:5px;
                    font-weight: 700;
                    text-transform: uppercase;
                    width:125px;
                    display: inline-block;
                    text-align:center;
                    height:40px;
                    transition:$transition;
                    background:$pink;
                    margin-top:20px;
                    border:2px transparent solid;
                    &:active {
                        background: transparent;
                        border: 2px $purple solid;
                        color:$purple;
                    }
                }
            }
        }
    }
}





