.pricing {
    background-image:url(../images/pricing-image.png);
    background-repeat:no-repeat;
    padding: 120px 0;
    &__text-container {
        &:after {
            content:"";
            background: $pink;
            width:63px;
            height:1px;
            display:block;
            margin:50px auto;
        }
    }
    &__text-container h2,
    &__text-container p {
        color:$white;
    }
}

.pricing__options {
   background:$white;
   box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.04);
   display:flex;
   flex-flow:row wrap;
   padding:20px;
   @media (max-width:850px) {
       flex-flow:column wrap;
   }

   @media (min-width:640px) and (max-width:850px) {
        margin:0 50px;
   }

   &__third2 {
       margin:0 20px;
       @media (max-width:850px) {
           margin:15px 0;
       }
   }
    &__third {
        background: #fafafa;
        padding:50px 0;
        border:solid 1px #ececec;
        transition:$transition;
        position:relative;
            overflow:hidden;
        @media (min-width:851px) {
            width:calc(33.333% - (40px / 3));
        }
        &:hover {
            box-shadow: 10px 2px 18px 5px rgba(0, 0, 0, 0.2);
            transform:scale(1.02);
        }
        &__title-container {
            text-align:center;
            &:after {
                content:"";
                background: $purple;
                width:34px;
                height:1px;
                display:block;
                margin:20px auto;
            }
            .header-3 {
                font-family: $raleway;
                color:$black;
                @include fontSize(20);
                font-weight: 500;
            }
            &__plan {
                font-weight: 300;
                color:$grey;
                @include fontSize(14);
                margin-top:10px;
            }

        }
        &__features {
            list-style:none;
            width:100%;
            padding-left:0;
            @media (max-width:1100px) {
                display:none;

            }
            &__item {
                width:100%;
                border-top:#bdbdbd dashed 1px;
                margin:0;
                color:$grey;
                @include fontSize(15);
                padding:20px 50px;
                @media (min-width:851px) and (max-width:1100px) {
                    @include fontSize(12);
                    padding:10px 30px;
                }
                @media (max-width:850px) {
                    text-align:center;
                }
            }
        }

        &__rate { 
            color:$black;
            @include fontSize(40);
            font-weight:500;
            text-align:center;  
            padding-bottom:20px;
            span.dollar {
                @include fontSize(25);
                font-weight: 300;
                position:relative;
                bottom:10px;
            }
            span.monthly {
                color:$grey;
                @include fontSize(14);
                font-weight: 300;
            }  
        }
    }
}

.pricing__options__third--best{
    background:$purple;
    position:absolute;
    top:18px;
    right:-46px;
    transform:rotate(45deg);
    font-family: $raleway;
    color:$white;
    font-weight: 500;
    padding:10px 40px;
    @include fontSize(13);
    @media (min-width:851px) and (max-width:1050px) {
        top:12px;
        right:-45px;
        @include fontSize(10);
    }
}


.see-details-button {
    cursor: pointer;
}


@media (max-width:1100px) {
    #see-details1:checked + ul {
        display:block;
    }
    
    #see-details2:checked + ul {
        display:block;
    }
    #see-details3:checked + ul {
        display:block;
    }

    
}


