.quote {
    background: $purple;
    color: $header-light;
    padding:120px 0;
    &__images {
        width:70px;
        display:flex;
        flex-flow: column wrap;
        justify-content: space-between;
        @media (max-width: 700px) {
            flex-direction:row;
            width:80%;
            margin:0 auto;
            padding-bottom:20px;
        }
        @media (max-width: 500px) {
            display:none
        }

    }
    &__message {
        width:40%;
        position:relative;
        margin-left:100px;
        @media (max-width: 1000px) {
            width:60%;

        }
        @media (max-width: 700px) {
            margin:0 auto;
            width:80%;
        }

        
        &::before {
            content: "“";
            @include fontSize(110);
            font-weight: 400;
            position:absolute;
            top:-42px;
            left:-60px;
        }
        &__title {
            font-family: $raleway;
            @include fontSize(20);
            font-weight: 700;
        }
        &__details {
            color:#bfb9f6;
            @include fontSize(17);
            font-style:italic;
            padding:20px 0;
        }
        &__author {
            @include fontSize(18);
            font-weight: 600;
            span.role {
                @include fontSize(17);
                color:#bfb9f6;
                font-style: italic;
            }
        }
    }
}

.quote .wrapper {
    display: flex;
    flex-flow:row wrap;
}

.quote__images {
    img {
        border-radius:50%;
        border:5px solid transparent;
        transition:$transition;
        height:70px;
        width: 70px;
        &:hover {
            border:5px solid #f2f2f2;
            transform:scale(1.2);
            box-shadow: 10px 2px 18px 5px rgba(0, 0, 0, 0.2);
        }
    }
}
