.speakers {
    background:$white;
    margin:120px 0;
    &__text-container {
        &:after {
            content:"";
            width:63px;
            background:$pink;
            height:1px;
            display:block;
            margin: 40px auto;
        }
    }

    &__gallery{
        display:flex;
        flex-flow:row wrap;
        margin-bottom:50px;
        justify-content:space-around;
        
        @media (max-width: 1200px) {
            padding:0 100px;
        }
        @media (max-width: 1100px) {
            padding:0 50px;
        }
        @media (max-width: 950px) {
            padding:0px;
        }

        &__quarter {
            border-radius:5px;
            margin:10px;
            width:none;
            display: inline-block;
            box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.04);
            transition:$transition;
            @media (min-width: 1200px) {
                width:calc(25% - (100px / 4));
            }
            @media (min-width: 520px) and (max-width: 810px) {
                width: calc(50% - (40px / 2));
            }


           img {
               width:100%;
               border-radius:5px 5px 0 0;
           }
           &:hover {
               background: $purple;
               box-shadow: 10px 2px 18px 5px rgba(0, 0, 0, 0.2);
                transform:scale(1.02);
                color:$white;
           }
           &__text-container {
               text-align:center;
               padding:15px;
               h4 {
                   font-family: $raleway;
                   font-weight: 600;
                   @include fontSize(16);
               }
               p {
                   @include fontSize(14);
                   font-weight: 400;

               }
           }

        }

    }
}

.circle-container {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items: center;
    &__circle {
        width:12px;
        height:12px;
        border-radius:50%;
        background:$purple;
        display: inline-block;
        &--pink {
            background: $pink;
            width:14px;
            height:14px;
            display:flex;
            justify-content:center;
            align-items:center;
            margin:0 5px;
            &__inner-circle {
                background: $pink;
                width:12px;
                height:12px;
                border:$white 1px solid;
                border-radius:50%;
            }
        }
    }
}

.pricing__options__third__button {
    font-family:$raleway;
    color:$white;
    @include fontSize(15);
    line-height: 52px;
    border-radius:5px;
    font-weight: 700;
    text-transform: uppercase;
    width:178px;
    display: block;
    text-align:center;
    height:52px;
    transition:$transition;
    background: $pink;
    margin: 0 auto;
    
    &:active {
            background: $dark;
            }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}